---
import Layout from '../layouts/Layout.astro';

const pageTitle="About Me";

const identity = {
	firstName: "Advith",
	lastName: "Krishnan",
	country: "India",
	occupation: "AI Engineer",
	hobbies: ["Keyboard", "Digital Art", "Photography", "Travel", "Food"]
}

const skills = ["Python", "TypeScript", "HTML", "CSS", "JavaScript", "C++", "C"]; 
---

<Layout>
<navbar>
	<a href="/">Home</a>
	<a href="/blog">Blog</a>
	<a href="/contact">Contact Me</a>
</navbar>

<h1 class="text-white">
		Hi, I'm {identity.firstName} {identity.lastName}
</h1>
<ul>
	<li>
		I live in {identity.country} and currently work as an {identity.occupation}.
	</li>
	{identity.hobbies.length >= 1 ?
	<li>
		A few of my hobbies are {identity.hobbies[0]}, and {identity.hobbies[1]}.
	</li> :
	<li>
		My hobby is {identity.hobbies[0]}.
	</li>

	}
</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li>- {skill}</li>)}
	</ul>
</Layout>
